@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
    width: 70vw;
  }

  p {
    padding-right: 5vh;
    padding-bottom: 2vh;
  }

  a {
  font-family: "Seagram", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 3rem;
}
}
