@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #0A2616, #22593A);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #0D0D0D;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #22823A;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
}

h2 {
    color: #156828;
}

p {
    text-align: justify;
}